<%- include('partials/header') -%>

<div class="dest_main text-center" style="height: 100%;overflow-y: auto;">
    
    <br><br>
    <h1 id="dest_wish" style="color: rgb(143, 106, 27);"></h1> <br>

    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <center>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="500">
            <img src="/image/11.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="500">
            <img src="/image/2.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/3.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/4.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/5.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/6.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/7.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/8.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/9.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/10.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/1.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/12.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/13.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/14.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/image/15.jpg" class="d-block w-1" height="400px" width="200px" alt="...">
          </div>
        </div></center>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br><br>

      <h3 style="color: rgb(3, 3, 70);" id="q0"></h3> <br>
      <h3 style="color: rgb(3, 3, 70);" id="w0"></h3>
      <br>

      <h3 style="color: rgb(3, 3, 70);" id="q1"></h3> <br>
      <h3 style="color: rgb(3, 3, 70);" id="w1"></h3>
      <br><br>

    <iframe src="https://drive.google.com/file/d/1bSDJ7PHXodFGMdv39oaj6O31rLwd2TO7/preview" width="300" height="280" allow="autoplay"></iframe>
    
      <!-- <video src="/images/vid.mp4" width="300" height="280"></video> -->

    <br><br> 
    <!-- <form action="/suprise" method="post">
        <button class="btn btn-outline-primary" style="color: rgb(1, 1, 65);" type="submit">Explore more</button>
    </form> -->

    <br>

    
        
    </h3>

    <script src="js/letter.js"></script>


</div>
